.padtext{
padding-left: 15px;
}


.row-header{
margin:0px auto;
padding:0px auto;
}

.logicon{
    float:right;}

.row-content{
margin:0px;
padding-left:150px;
padding: 15px 0px 15px 0px;
border-bottom:1px ridge;
min-height:200px;
}

.row-footer{
background-color:#AfAfAf;
margin:0px auto;
  padding:20px 0px 20px 0px;

}

.jumbotron {
    padding:15px 10px 15px 10px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

