#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:200px;
    width:150px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float: right;
    

}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;



}
}
